
*{
    margin: 0;
    padding: 0;
}

:root{
    --background-main: var(--background-light);
    --primary-main: var(--primary-light);
    --secondary-main: var(--secondary-light);
    --overlay-background-main: var(--overlay-background-light);
    --X1-main: var(--X1-light);
    --X2-main: var(--X2-light);
    --O1-main: var(--O1-light);
    --O2-main: var(--O2-light);

    --background-dark: #0F2443;
    --primary-dark: white;
    --secondary-dark: gray;
    --overlay-background-dark: rgba(0, 0, 0, 0.937);
    --X1-dark: red;
    --X2-dark: orange;
    --O1-dark: pink;
    --O2-dark: purple;

    --background-light: green;
    --primary-light: black;
    --secondary-light: gray;
    --overlay-background-light: rgba(255, 255, 255, 0.563);
    --X1-light: white;
    --X2-light: blue;
    --O1-light: orange;
    --O2-light: red;
}

html{
    font-size: 16px;
    font-family: "Audiowide", sans-serif;
}

@media screen and (max-width: 600px){
    html{
        font-size: 12px;
    }
}

@media screen and (min-width: 1300px){
    html{
        font-size: 22px;
    }
}

body{
    background-color: var(--background-main);
    color: var(--primary-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
}

::selection{
    background-color: yellow;
}

/* General Styling */
section{
    min-height: 99.7vh;
    max-width: 1280px;
    width: 99.7%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn{
    background-color: var(--background-main);
    color: var(--primary-main);
    border: none;
    padding-bottom: 2px;
    font-size: 1rem;
    font-family: "Audiowide", sans-serif;
}

.btn:hover{
    color: var(--background-main);
    cursor: pointer;
}

/* Header container */
.header-btn{
    font-size: 2.5rem;
    margin-left: 3rem;
    max-height: 3.5rem;
}

#header-container{
    display: flex;
    justify-content: end;
    margin-right: 1%;
    margin-left: 1%;
}

#rules-btn{
    display: none;
}

/* Game header container*/
/* Game title container */
#game-title-container{
    color: var(--primary-main);
    text-align: center;
    font-size: 0.8rem;
    user-select: none;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-left: 1%;
}

#game-title-text-2{
    font-size: 1.9em;
    margin-top: -0.4em;
}

/* Footer */
#footer-container{
    display: flex;
    max-width: 1280px;
    /* border: 1px solid black; */
}

.footer-container{
    /* border: 1px solid black; */
    margin-left: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-btn{
    background-color: var(--background-main);
    color: var(--primary-main);
    border: none;
    padding-bottom: 2px;
    font-size: 1rem;
    font-family: "Audiowide", sans-serif;
}

#footer-container-1{
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#footer-container-1-top{
    width: 100%;
    margin-bottom: 0.5rem;
}

#footer-container-1-bottom{
    display: flex;
}

#footer-github{
    margin-left: auto;
}

#footer-linkedin{
    margin-right: auto;
}

#footer-container-2{
    max-width: 55%;
    text-align: justify;
    margin-left: auto;
    font-size: 0.75rem;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



#highlight-overlay-container{
    position: absolute;
    background-color: var(--overlay-background-main);
    width: 100%;
    height: 100%;
    display: none;
}

#overlay-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-container{
    background-color: var(--background-main);
    border-radius: 15px;
    border: 0.125rem solid white;
    position: absolute;
    z-index: 10;
    display: none;
    padding: 1rem;
    margin-top: 50%;
}

/* Rules */
#rules-overlay-container{
    display: none;
}

#rules-gameboard{
    width: 17rem;
    height: 17rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.rules-gameboard-grid{
    border: 2px solid var(--primary-main);
    /* font-size: 80px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top row */
#rules-gameboard-grid-0, #rules-gameboard-grid-1, #rules-gameboard-grid-2{
    border-top: none;
}

/* Bottom row */
#rules-gameboard-grid-6, #rules-gameboard-grid-7, #rules-gameboard-grid-8{
    border-bottom: none;
}

/* Left col */
#rules-gameboard-grid-0, #rules-gameboard-grid-3, #rules-gameboard-grid-6{
    border-left: none;
}

/* Right col */
#rules-gameboard-grid-2, #rules-gameboard-grid-5, #rules-gameboard-grid-8{
    border-right: none;
}

#rules-text{
    margin-top: 1rem;
    max-width: 17rem;
    font-size: 0.75rem;
    text-align: justify;
}

#rules-bottom{
    width: 17rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#rules-progress{
    width: 6rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules-progress-dot{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: var(--primary-main);
}

#rules-progress-dot-0{
    background-color: var(--secondary-main);
}

.rules-arrow{
    width: 35px;
    height: auto;
    fill: var(--primary-main);
    stroke: var(--primary-main);
    stroke-width: 2;
}

#rules-left{
    margin-left: 0.5rem;
    opacity: 0;
}

#rules-right{
    margin-right: 0.5rem;
}



#notification-container {
    position: absolute;
    z-index: 10;
    border: 0.25rem solid white;
    background-color: var(--background-main);
    padding: 1rem;
    border-radius: 15px;
    margin-top: -70vh;
    display: none;
    max-width: 70%;
    font-size: 1rem;
}

/* Index page */
#main-container{
    color: var(--primary-main);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#title-container{
    color: var(--primary-main);
    margin-top: 2rem;
    margin-bottom: auto;
    text-align: center;
    font-size: 2.5rem;
    user-select: none;
}

#title-text-2{
    font-size: 1.9em;
    margin-top: -0.4em;
}

.main-btn{
    font-size: 3rem;
}

#local-btn{
    margin-bottom: 3rem;
}

#join-text{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 1.25rem;
}

#join-btn{
    font-size: 1em;
}

.overlay-container{
    background-color: var(--background-main);
}

#join-input{
    background-color: var(--background-main);
    border: none;
    border-bottom: 0.5rem dashed var(--highlight-col-8);
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    height: 4rem;
    width: 20rem;
    font-size: 2rem;
    font-family: "Audiowide";
    color: var(--highlight-col-8);;
}

#join-input:hover::placeholder{
    color: var(--highlight-col-8);
}

#join-input:focus::placeholder{
    color: var(--highlight-col-8);
}

#join-input:focus{
    outline: none;
}

#join-input-btn{
    margin-left:3rem;
    font-size: 2rem;
    background-color: var(--background-main);
}

#join-input-btn:hover{
    background-color: var(--highlight-col-8);
}



/* Game page */
.symbol-svg{
    width: 1.25rem;
    height: auto;
    display: none;
}

#X-symbol-svg{
    display: inline;
    stroke: var(--X1-main)
}

#O-symbol-svg{
    stroke: var(--O1-main);
}

.game-svg{
    width: 5rem;
    height: auto;
    display: none;
    stroke: red;
}

#gameboard-top-container{
    display: flex;
    width: 27rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--primary-main);
}

#turn-label{
    margin-right: auto;
}

#turn-label-symbol{
    color: var(--highlight-col-3);
}

#turn-count{
    margin-left: auto;
}

#turn-count-number{
    color: var(--highlight-col-4);
}

#gameboard{
    width: 25rem;
    height: 25rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gameboard-grid{
    border: 2px solid var(--primary-main);
    font-size: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Top row */
#gameboard-grid-0, #gameboard-grid-1, #gameboard-grid-2{
    border-top: none;
}

/* Bottom row */
#gameboard-grid-6, #gameboard-grid-7, #gameboard-grid-8{
    border-bottom: none;
}

/* Left col */
#gameboard-grid-0, #gameboard-grid-3, #gameboard-grid-6{
    border-left: none;
}

/* Right col */
#gameboard-grid-2, #gameboard-grid-5, #gameboard-grid-8{
    border-right: none;
}

#invite-btn{
    margin-top: 2rem;
    color: var(--primary-main);
    font-size: 1.75rem;
    max-width: 40rem;
}

#invite-btn:hover{
    cursor: pointer;
}



/* Fade in and fade out */
@keyframes fade-in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.fade-in-2000{
    animation: fade-in 2s;
}

.fade-in-350{
    animation: fade-in 350ms;
}

@keyframes fade-out{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.fade-out-2000{
    animation: fade-out 1s;
}

.fade-out-350{
    animation: fade-out 350ms;
}

.fade-in-out-2000{
    animation: fade-in 2s infinite alternate;
}