*{
    padding: 0;
    margin: 0;
}

:root{
    --BG-col-main: var(--BG-col-light);
    --X-col-1-main: var(--X-col-1-light);
    --X-col-2-main: var(--X-col-2-light);
    --O-col-1-main: var(--O-col-1-light);
    --O-col-2-main: var(--O-col-2-light);

    --BG-col-dark: #1B1B1E;
    --X-col-1-dark: #A882DD;
    --X-col-2-dark: #4A2380;
    --O-col-1-dark: #E15166;
    --O-col-2-dark: #9D1B2E;

    --BG-col-light: white;
    --X-col-1-light: black;
    --X-col-2-light: grey;
    --O-col-1-light: blue;
    --O-col-2-light: aliceblue;
}

html{
    font-size: 16px;
}

@media only screen and (max-width: 768px) and (orientation: portrait){
    html{
        font-size: 14px;
    }
}
 
/* General section styling */
body{
    background-color: var(--BG-col-main);
    justify-content: center;
    max-width: 900px;
    min-height: 99vh;
    border: 1px solid purple;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

section{
    margin: auto;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#header-container{
    width: 100%;
    border: 1px solid red;
    display: flex;
}

#themes-btn{
    margin-left: auto;
    font-size: 1.5rem;
}


#footer-container{
    width: 100%;
    border: 1px solid red;
}

/* Landing page */
#title-container{
    border: 1px solid red;
}

#title-main{
    margin: auto;
    width: 18rem;
    height: auto;
}

.landing-btn{
    border: none;
    background-color: var(--BG-col-main);
    text-decoration: underline;
    font-weight: 700;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 3.5rem;
}

.landing-btn:hover{
    cursor: pointer;
    color: red;
    transform: translateX(5px);
}

#local-btn{
    margin-bottom: 1rem;
}

#join-text{
    margin-top: 5rem;
    font-size: 1.5rem;
}

#join-btn{
    font-size: 1.5rem;
}

#content-container{
    margin-top: auto;
    border: 1px solid red;
}

#overlay-container{
    width: 100%;
    height: 99vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    z-index: 20;
    display: none;
}

#join-popup-container{
    position: absolute;
    margin-top: 20rem;
    z-index: 30;
    background-color: red;
    display: none;
}

#notification-container{
    position: absolute;
    margin-top: 3rem;
    z-index: 30;
    background-color: red;
    display: none;
}







/* Gameboard */
#gameboard{
    /* border: 3px solid black; */
    width: 300px;
    height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gameboard-grid{
    border: 1px solid blue;
    font-size: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-svg{
    height: 90px;
    width: auto;
}

.O-svg{
    rotate: 250deg;
}

/* Left column  */
#gameboard-grid-00, #gameboard-grid-10, #gameboard-grid-20{
    border-left: none;
}
/* Right column */
#gameboard-grid-02, #gameboard-grid-12, #gameboard-grid-22{
    border-right: none;
}

/* Top row */
#gameboard-grid-00, #gameboard-grid-01, #gameboard-grid-02{
    border-top: none;
}

/* Bottom row */
#gameboard-grid-20, #gameboard-grid-21, #gameboard-grid-22{
    border-bottom: none;
}

